@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>Flavor Type: @Html.DisplayFor(model => model.FlavorType)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not associated with any treat</p>
}
else
{
  <h4>Flavors associated with treats:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.FlavorType</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</p>

<p>@Html.ActionLink("Back to all flavors", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.FlavorId })</p>