@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Flavor

<h4>Edit @Html.DisplayFor(model => model.FlavorType)</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  <p>Flavor Type: @Html.TextBoxFor(model => model.FlavorType, new {@class = "form-control", type="text", required="text"})</p>
  
  <input type="submit" value="Edit @Html.DisplayFor(model => model.FlavorType) Now!" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>