@{
  Layout = "_Layout";
}

@using PierresMarket.Models;

<h1>Welcome!</h1>

<div class="aligN">
  <div class="border border-warning">

    <p>@Html.ActionLink("See All Flavors", "Index", "Flavors")</p> 
    <p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
    <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
    <div class="backg">
      @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-warning" value="Log out" />
        }
    </div>

  </div>
</div>

<div class="container-fluid cn">
<div class="col-md-6">

<div class="row sizeNow">
  @if (ViewBag.Treats.Count == 0)
  {
    <h3>No treats have been added yet</h3>
  }
  else
  {
    <h3 class="text-center p-3">All available treats:</h3>
    @foreach (Treat treat in ViewBag.Treats)
    {
      @Html.ActionLink(@treat.TreatName, "Details", "Treats", new { id = @treat.TreatId }, new { @class = "btn btn-block btn-info" })
    }
  }
</div>

<div class="row sizeNow">
  @if (ViewBag.Flavors.Count == 0)
  {
    <h3>No flavors have been added yet</h3>
  }
  else
  {
    <h3 class="text-center p-3">All available flavors:</h3>
    @foreach (Flavor flavor in ViewBag.Flavors)
    {
      @Html.ActionLink(@flavor.FlavorType, "Details", "Flavors", new { id = @flavor.FlavorId }, new { @class = "btn btn-block btn-info" })
    }
  }
</div>

</div>
</div>


