@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Treat

<h4>Edit @Html.DisplayFor(model => model.TreatName)</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <p>Treat Name: @Html.TextBoxFor(model => model.TreatName, new {@class = "form-control", type="text", required="text"})</p>
  
  <input type="submit" value="Edit @Html.DisplayFor(model => model.TreatName) Now!" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>